################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/nli-to-lod
/obj
/bin/Debug/net5.0-windows
/.vs/NL_text_representation
/bin/Debug/net5.0
